<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MP1 - MRT Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  		<param-name>jdbcUrl</param-name>
  		<param-value>jdbc:mysql://localhost:3306/mrt-entjav2</param-value>
  </context-param>
  
   <context-param>
  		<param-name>dbUsername</param-name>
  		<param-value>root</param-value>
  </context-param>
    <context-param>
  		<param-name>dbPassword</param-name>
  		<param-value></param-value>
  	</context-param>
  <servlet>
    <servlet-name>ComputeFareServlet</servlet-name>
    <servlet-class>controller.ComputeFareServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewRecordsServlet</servlet-name>
  	 <servlet-class>controller.ViewRecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ComputeFareServlet</servlet-name>
  	<url-pattern>/ComputeFare.html</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ViewRecordsServlet</servlet-name>
  	<url-pattern>/records.html</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name-1</param-name>
    <param-value>Quezon Avenue</param-value>
  </context-param>
  <context-param>
    <param-name>name-2</param-name>
    <param-value>GMA Kamuning</param-value>
  </context-param>
  <context-param>
    <param-name>name-3</param-name>
    <param-value>Cubao</param-value>
  </context-param>
  <context-param>
    <param-name>name-4</param-name>
    <param-value>Santolan</param-value>
  </context-param>
  <context-param>
    <param-name>name-5</param-name>
    <param-value>Ortigas</param-value>
  </context-param>
  <context-param>
    <param-name>name-6</param-name>
    <param-value>Shaw Boulevard</param-value>
  </context-param>
  <context-param>
    <param-name>name-7</param-name>
    <param-value>Boni Avenue</param-value>
  </context-param>
  <context-param>
    <param-name>name-8</param-name>
    <param-value>Guadalupe</param-value>
  </context-param>
  <context-param>
    <param-name>name-9</param-name>
    <param-value>Buendia</param-value>
  </context-param>
  <context-param>
    <param-name>name-10</param-name>
    <param-value>Ayala</param-value>
  </context-param>
  <context-param>
    <param-name>name-11</param-name>
    <param-value>Magallanes</param-value>
  </context-param>
  <context-param>
    <param-name>name-12</param-name>
    <param-value>Taft Avenue</param-value>
  </context-param>
  <context-param>
    <param-name>1</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>2</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>3</param-name>
    <param-value>11</param-value>
  </context-param>
  <context-param>
    <param-name>4</param-name>
    <param-value>11</param-value>
  </context-param>
  <context-param>
    <param-name>5</param-name>
    <param-value>12</param-value>
  </context-param>
  <context-param>
    <param-name>6</param-name>
    <param-value>12</param-value>
  </context-param>
  <context-param>
    <param-name>7</param-name>
    <param-value>13</param-value>
  </context-param>
  <context-param>
    <param-name>8</param-name>
    <param-value>13</param-value>
  </context-param>
  <context-param>
    <param-name>9</param-name>
    <param-value>14</param-value>
  </context-param>
  <context-param>
    <param-name>10</param-name>
    <param-value>14</param-value>
  </context-param>
  <context-param>
    <param-name>11</param-name>
    <param-value>15</param-value>
  </context-param>
  <context-param>
    <param-name>12</param-name>
    <param-value>15</param-value>
  </context-param>
</web-app>